table td.MuiTableCell-body,
table th.MuiTableCell-head {
    text-align: center;
    padding: 5px
}

table th {
    height: 80px;
}

table td {
    height: 80px;
}

.CellWrapper {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    gap: 10px;
    align-items: center;
}

.bodyCell {
    font-size: 0.845rem;
}

.bodyLessonCell {
    position: relative;
    grid-column: 1 / 2;
}

.bodyLessonCell:hover .editOptions {
    display: flex;
}

.bodyTypeCell {
    grid-column: 2 / 3;
}

.bodyCabCell {
    grid-column: 3 / 4;
}

.editOptions {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.editWrapper {
    display: flex;
    height: 30px;
    align-content: center;
    background-color: rgba(184, 184, 184, 0.8);
    border-radius: 5px;
}