.formControlWrapper {
    margin-top: 20px;
}

.formControlWrapper>* {
    margin-bottom: 20px !important;
}

/*.radioGroup {*/
/*    display: grid !important;*/
/*    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));*/
/*}*/

.radioFormWrapper {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.MuiFormControlLabel-root {
    margin: 0 !important;
    margin-right: 9px !important;
}

.info {
    margin-bottom: 20px;
}